.icons-wrapper {
  background-color: var(--mantine-color-body-light);
  border-radius: var(--mantine-radius-default);
  display: flex;
}

.submit-btn {
  border-radius: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}