.wrapper {
  background-color: var(--mantine-color-body-dark-heavy);
}

.input input {
  border: none
}

.account {
  --result-color: var(--color, var(--mantine-primary-color-filled));
  background-color: alpha(var(--result-color), 0.1);
  color: var(--result-color);
  display: flex;
  padding: 4px;
  border-radius: var(--mantine-radius-sm);
  border: 1px solid transparent;
}

.account.selected {
  border: 1px solid var(--mantine-primary-color-filled);
}