.wrapper {
  background-color: var(--mantine-color-body-dark-heavy);
}

.input input {
  border: none;
}

.account {
  --result-color: var(--color, var(--mantine-primary-color-filled));
  background-color: alpha(var(--result-color), 0.1);
  color: var(--result-color);
  display: flex;
  padding: 4px;
  border: 1px solid transparent;
}

.direction .account:last-child {
  background-color: alpha(var(--result-color), 0.08);;
}

.account.selected {
  border: 1px solid var(--mantine-primary-color-filled);
}

.calc-field {
  display: flex;
  align-items: center;
  white-space: pre;

  & > svg {
    font-size: 0.8rem;
  }
}