.wrapper {
  cursor: pointer;

  @media (pointer: coarse) {
    &:not([data-disabled]):active { background-color: var(--mantine-color-body-light-heavy); }
  }
}

.icon {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;

  & svg {
    color: var(--mantine-color-body-light);
    font-size: var(--mantine-font-size-sm);
    
  }
}