* {
  -webkit-tap-highlight-color: transparent;
}

body {
  .br-0 {
    border-radius: 0;
  }

  .grow {
    flex-grow: 1;
  }

  .center {
    align-items: center;
    justify-content: center;
  }

  .nowrap {
    flex-wrap: nowrap;
  }
}
