.wrapper {
  background: var(--mantine-color-body-light);

  & svg {
    width: var(--mantine-h3-font-size);
    height: var(--mantine-h3-font-size);
  }
}

.border {
  box-shadow: var(--mantine-shadow-xs);
}